.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #1F2833;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #66FCF1;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
button{
  padding: 10px 20px;
  margin-top: 3rem;
  background: #FBA100;
  color: black;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}
button:hover{
  filter: brightness(120%);
}